---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% assign talks_sorted = site.talks | sort: "date" | reverse %}
{% for talk in talks_sorted %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
      {% if talk.link %}
        <a href="{{ talk.link }}">{{ talk.title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ talk.url }}" rel="permalink">{{ talk.title }}</a>
      {% endif %}
    </h2>
    {% if talk.date %}<p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i>{{ talk.date | date: '%B %d, %Y' }}</p>{% endif %}
    {% if talk.venues -%}
      <p class="page__meta">
      {% capture venue_list %}
       {% assign venues_miro = talk.venues | where: "my_presentation", "yes" %}
       {%- for venue in venues_miro -%}
         , {{ venue.name }}
       {%- endfor -%}
      {% endcapture %}
      {{ venue_list | remove_first: ", " | truncate: 100 }}
      </p>
    {%- endif %}
    {% if talk.short_desc %}<p class="archive__item-excerpt" itemprop="description">{{ talk.short_desc | markdownify }}</p>{% endif %}
  </article>
</div>

{% endfor %}
