{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p>
        {%- if post.citation -%}
            {%- if post.distinction -%}
                <b> 🏆 {{ post.distinction }} 🏆</b><br>
            {%- endif -%}
            {{ post.citation }} (
            {%- assign labels = "blog post,pub,pdf,talk" | split: "," -%}
            {%- capture links_capture -%}{{ post.blogpost }},{{ post.paperurl }},{{ post.eprint }},{{ post.talk }}{%- endcapture -%}
            {%- assign links = links_capture | split: "," -%}
            {%- for link in links -%}
                <a href="{{ link }}" target="_blank">{{ labels[forloop.index0] }}</a>
                {%- unless forloop.last -%}, {% endunless -%}
            {%- endfor -%})
        {%- endif -%}
    </p>
  </article>
</div>
